.signup-container {
  padding: 90px 30px 30px;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24pt;
  mat-icon {
    margin: 15px;
    transform: scale(2);
  }
}

p {
  text-align: center;
  line-height: 2;
  margin: 10px;
}
.form-container {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* form */

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
.mat-radio-group {
  text-align: left;
  display: grid;
  gap: 15px;
  margin: 0px 5px 20px;
}
.mat-radio-button {
  margin-left: 15px;
}
.valid-Untill {
  margin: 0px 10px 20px;
}
mat-error {
  margin-top: 15px;
}
.register-btn {
  font-size: 21px;
  padding: 10px 30px;
  // background-color: #b71f6f;
  border-radius: 20px;
  color: white;
}
.register-btn:disabled,
.register-btn[disabled] {
  color: white;
  opacity: 0.5;
}

@media only screen and (max-width: 650px) {
  .form-container {
    margin-top: 20px;
  }
  img {
    width: 150px;
    margin-bottom: 0;
  }
  p {
    font-size: 16px;
  }
  .already {
    font-size: 14px;
  }
  .sign-up-btn {
    font-size: 16px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
