<div class="signup-container">
  <div class="title">
    <mat-icon>how_to_reg</mat-icon> <span>Register a New vender</span>
  </div>
  <p>
    When you create a vender account you will give them the ability to view all
    guests information and consume their vouchers
  </p>
  <div class="form-container">
    <form
      [formGroup]="signUpForm"
      #formDirective="ngForm"
      (submit)="submitSignUpForm(signUpForm.value, formDirective)"
    >
      <!-- name input -->
      <mat-form-field appearance="outline">
        <input
          matInput
          type="text"
          placeholder="Username"
          formControlName="username"
          required
        />
      </mat-form-field>
      <!-- email input -->
      <mat-form-field appearance="outline">
        <input
          matInput
          type="email"
          placeholder="Email"
          formControlName="email"
          required
        />
      </mat-form-field>
      <!-- Password input -->
      <mat-form-field appearance="outline">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          [errorStateMatcher]="matcher"
          required
          min="8"
        />
        <mat-error *ngIf="!signUpForm.valid">
          password must be at least 8 characters, and a mix of lowercase
          characters, uppercase characters and numbers
        </mat-error>
      </mat-form-field>
      <!-- Repeat Password input -->
      <mat-form-field appearance="outline">
        <input
          matInput
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          [errorStateMatcher]="matcher"
          required
          min="6"
        />
        <mat-error *ngIf="!signUpForm.valid && signUpForm.hasError('notSame')">
          Passwords have to match
        </mat-error>
      </mat-form-field>
      <!-- submit -->
      <button
        mat-button
        class="mat-flat-button"
        color="primary"
        type="submit"
        [disabled]="!signUpForm.valid"
      >
        Register
      </button>
    </form>
  </div>
</div>
