<div class="guest-container">
  <div class="info-section">
    <img src="../../../assets/aloft-airbus.png" alt="airbus-logo" />
    <p>
      Hello <b>{{ guest.name }}</b
      >,<b>
        {{
          guestHasNoValidVouchers
            ? "unfortunatly you have no valid Vouchers."
            : "you have" + guest.vouchersLis.length + "Vouchers."
        }}
      </b>
    </p>
    <p>
      Choose your favorite amenities from
      <span style="font-weight: bold"
        >The Canteen,Splash Pool Bar and Han Shi Fu,</span
      >
      with our compliments.
    </p>
  </div>

  <mat-tab-group>
    <mat-tab label="My Vouchers">
      <ng-container
        *ngIf="!guestHasNoValidVouchers; else noVouchers"
        class="vouchers-wrraper"
      >
        <div class="row">
          <app-qr-code-card
            class="col-sm-12 col-md-6 col-lg-3 fix"
            *ngFor="let qrcode of guest.vouchersLis; let i = index"
            [voucher]="qrcode"
            [index]="i"
          >
          </app-qr-code-card>
        </div>
      </ng-container>
      <ng-template #noVouchers>
        <h3>You don't have any valid vouchers</h3>
      </ng-template>
    </mat-tab>
    <mat-tab label="History">
      <app-records [guest]="guest"></app-records>
    </mat-tab>
  </mat-tab-group>
</div>
