.loading-container {
  padding: 100px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.guest-container {
  padding: 90px 50px 50px;

  .info-section {
    line-height: 1.5;
    img {
      width: 200px;
    }
    p {
      font-size: 18px;
    }
  }
  h1 {
    margin-top: 20px;
  }

  .vouchers-wrraper {
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    padding: 20px;
  }
}
.fix {
  max-width: none;
}
.row {
  margin: 0;
}
