.guest-container {
  text-align: center;
  .mat-dialog-title {
    text-align: center;
  }
  .mat-dialog-content {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    p {
      font-size: 10px;
    }
  }
  .mat-dialog-actions {
    display: flex;
    justify-content: space-around;
    button {
      background-color: #b71f6f;
      color: white;
      margin: 0px 0px 10px 0px;
    }
    button:hover {
      background-color: rgb(56, 56, 56);
    }
  }
}
