mat-toolbar {
  z-index: 500;
  position: fixed;
  width: 100%;
  padding: 0px 50px;
  color: white;
  height: 70px;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .logo-container {
    display: flex;
    gap: 25px;
    align-items: center;
  }
}
.menu-spacer {
  flex: 1 1 auto;
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo img {
  height: 50px;
}
.app-name {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 3px;
}
.guest-header {
  background-color: #b71f6f;
}
.vender-header {
  background-color: #31c2a0;
}
.admin-header {
  background-color: #536dfe;
}
.register-btn{
  border: 1px solid white;
  transition: all 500ms ease;
}
.register-btn:hover{
  background-color: white;
  color: #b71f6f;
}

@media only screen and (max-width:768px){
  mat-toolbar{
    padding: 0px 20px;
  }
}
