<mat-toolbar *ngIf="!user" class="guest-header">
  <!-- Guests Header -->
  <div class="header-container">
    <span matRipple class="logo" (click)="logoReroute()">
      <img src="../../../assets/vouchyQR.png" alt="aloft-logo" />
    </span>
    <div>
      <button mat-button (click)="onLoginClick()">Login</button>
      <button class="register-btn" mat-button [routerLink]="'/register'">
        Register
      </button>
    </div>
  </div>
</mat-toolbar>
<!-- Vender Header -->
<mat-toolbar *ngIf="user && !admin" class="vender-header">
  <div class="header-container">
    <div class="logo-container">
      <span matRipple class="logo" (click)="logoReroute()">
        <img src="../../../assets/vouchyQR.png" alt="aloft-logo" />
      </span>
      <h1><b>Vender</b></h1>
    </div>
    <button mat-button (click)="onLogoutClick()">Logout</button>
  </div>
</mat-toolbar>
<!-- Admin Header -->
<mat-toolbar *ngIf="user && admin" class="admin-header">
  <div class="header-container">
    <div class="logo-container">
      <span matRipple class="logo" (click)="logoReroute()">
        <img src="../../../assets/vouchyQR.png" alt="aloft-logo" />
      </span>
      <h1><b>Admin</b></h1>
    </div>

    <button mat-button (click)="onLogoutClick()">Logout</button>
  </div>
</mat-toolbar>
