<div class="vender-home-container">
  <mat-tab-group>
    <mat-tab label="Guests">
      <div class="table-center">
        <app-users [adminUser]="false"></app-users>
      </div>
    </mat-tab>
    <mat-tab label="Use Vouchers">
      <div class="use-vouchers-container">
        <h1>Welcome Vender</h1>
        <p>
          To use a guests voucher paste the voucehr id in the next field, or
          scan the voucher's QR Code with QR Codes scanner app (recommended).
        </p>
        <div class="manual-use">
          <mat-form-field appearance="outline">
            <mat-label>Voucher ID</mat-label>
            <input
              matInput
              [(ngModel)]="voucherIdToUse"
              placeholder="Voucher ID"
            />
          </mat-form-field>
          <div class="btn-container">
            <button mat-raised-button (click)="useVoucherClick()">
              Use Voucher
            </button>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Records">
      <div class="records-container">
        <div class="manage">
          <mat-form-field appearance="outline">
            <mat-label>Time span</mat-label>
            <mat-select [(value)]="periode">
              <mat-option (click)="selectChange()" value="all" active
                >All</mat-option
              >
              <mat-option (click)="selectChange()" value="lastWeek"
                >Last week</mat-option
              >
              <mat-option (click)="selectChange()" value="lastMonth"
                >Last month</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <app-records></app-records>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
