.mat-dialog-content {
  text-align: center;
}
.info {
  text-align: left;
  margin-top: 15px;
}
.loading-container {
  padding: 100px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
