<div class="login-container">
  <img src="../../../assets/aloft-airbus.png" alt="" />
  <p>Login in to be able to access the vender website.</p>

  <!-- <div class="btn-container">
    <button
      type="button"
      class="login-with-google-btn"
      (click)="signInWithGoogle()"
    >
      Login with Google
    </button>
  </div> -->

  <div class="form-container">
    <form [formGroup]="logInForm" (submit)="submitlogInForm(logInForm.value)">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <button
        mat-button
        class="sign-up-btn"
        type="submit"
        [disabled]="!logInForm.valid"
      >
        Log In
      </button>
    </form>
  </div>
</div>
