<div class="signup-container">
  <div class="title">
    <mat-icon>how_to_reg</mat-icon> <span>Create new Account</span>
  </div>
  <p>
    By creating a new account you will be able to use the features of the
    website
  </p>

  <div class="form-container">
    <form
      [formGroup]="registerForm"
      #formDirective="ngForm"
      (submit)="onFormSubmit(registerForm.value, formDirective)"
    >
      <!-- unsername input -->
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
        <mat-error *ngIf="!registerForm.valid">
          Username must be between 3 and 30 characters
        </mat-error>
      </mat-form-field>
      <!-- email input -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="!registerForm.valid">
          You must enter a valid email
        </mat-error>
      </mat-form-field>
      <!-- Password input -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" min="8" />
        <mat-error *ngIf="!registerForm.valid">
          password must be at least 8 characters, and a mix of lowercase
          characters, uppercase characters and numbers
        </mat-error>
      </mat-form-field>
      <!-- Confirm Password input -->
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          [errorStateMatcher]="matcher"
          min="8"
        />
        <mat-error
          *ngIf="!registerForm.valid && registerForm.hasError('notSame')"
        >
          Passwords have to match
        </mat-error>
      </mat-form-field>

      <button
        mat-button
        class="register-btn"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Register
      </button>
    </form>
  </div>
</div>
