<div class="container">
  <p>the website is still in a demo version, and you can't register yet.</p>
  <p>
    If you want to try the functionality of the website you can log into this
    demo admin account:
  </p>
  <div class="ml-4">
    <p>Email : <b> demoadmin@mail.com</b></p>
    <p>password : <b>DemoDemo</b></p>
  </div>
  <p>or a demo vender account :</p>
  <div class="ml-4">
    <p>Email : <b> demovender@mail.com</b></p>
    <p>password :<b>DemoDemo</b></p>
  </div>
  <p>
    If you like this webapp and you want to use it for your hotel, or you want a
    custumized version for your hotel contact me using the contact form at the
    bottom of the
    <a [routerLink]="'/home'">home page</a> or send me an email directly to :
    <b> djalelguergouri@gmail.com </b>
  </p>
</div>
<div class="login-container">
  <p>Login in to be able to access the vender website.</p>

  <div class="form-container">
    <form
      [formGroup]="registerForm"
      (submit)="onFormSubmit(registerForm.value)"
    >
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <button
        mat-button
        class="sign-up-btn"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Log In
      </button>
    </form>
  </div>
</div>
