.loading-container {
  padding: 100px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.using-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.v-used {
  justify-content: center;
  z-index: 1;
  background-color: white;
  font-size: 32px;
  text-align: center;
  align-items: center;
  padding: 60px 120px;
  line-height: 2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
.btns{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn {
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}
.not-auth {
  font-size: 15px;
}
@media only screen and (max-width: 650px) {
  .v-used {
    font-size: 24px;
    padding: 40px;
    line-height: 2;
    width: auto;
    height: auto;
    display: block;
  }
}
