.loading-container {
  padding: 100px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.use-vouchers-container {
  padding: 30px;
}

.home-container {
  padding: 90px 30px 30px;
}
.manual-use {
  display: flex;
  gap: 25px;
  .mat-form-field {
    width: 50%;
  }
  button {
    font-size: 14pt;
    background-color: #536dfe;
    color: white;
    padding: 8px 20px;
  }
}
.records-container {
  padding: 20px 0px;
}
.manage {
  padding: 0px 30px;
}
.btn-container {
  display: flex;
  align-items: center;
  .pdf-btn {
    font-size: 14px;
    padding: 0px 16px;
    background-color: #536dfe;
    color: white;
    margin: 5px 0px;
  }
  .clear-btn {
    font-size: 14px;
    padding: 0px 16px;
    margin: 5px 0px;
  }
  mat-icon {
    margin-right: 5px;
    margin-left: -5px;
  }
}

::ng-deep .mat-form-field-wrapper {
  padding: 0;
}
img {
  width: 250px;
  margin: 20px;
}


.use-btn-container {
  justify-content: center;
}
@media only screen and (max-width: 650px) {
  img {
    width: 150px;
    margin-bottom: 0;
  }
  .manual-use {
    flex-direction: column;
    gap: 10px;
    .mat-form-field{
      width: 100%;
    }
    button {
      font-size: 12pt;
    }
  }
}
.table-center {
  display: flex;
  justify-content: center;
}
