<div *ngIf="!loading; else loadingContent" class="home-container">
  <mat-tab-group>
    <mat-tab label="Guests">
      <div class="table-center">
        <app-users [adminUser]="true"></app-users>
      </div>
    </mat-tab>
    <mat-tab label="Use Vouchers">
      <div class="use-vouchers-container">
        <h1>Welcome Vender</h1>
        <p>
          To use a guests voucher paste the voucehr id in the next field, or
          scan the voucher's QR Code with QR Codes scanner app (recommended).
        </p>
        <div class="manual-use">
          <mat-form-field appearance="outline">
            <mat-label>Voucher ID</mat-label>
            <input
              matInput
              [(ngModel)]="voucherIdToUse"
              placeholder="Voucher ID"
            />
          </mat-form-field>
          <div class="use-btn-container btn-container">
            <button mat-raised-button (click)="useVoucherClick()">
              Use Voucher
            </button>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Records">
      <div class="records-container">
        <div class="manage">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Time span</mat-label>
                <mat-select [(value)]="periode">
                  <mat-option (click)="selectChange()" value="all" active
                    >All</mat-option
                  >
                  <mat-option (click)="selectChange()" value="lastWeek"
                    >Last week</mat-option
                  >
                  <mat-option (click)="selectChange()" value="lastMonth"
                    >Last month</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4 btn-container">
              <button
                (click)="generatePdf()"
                [disabled]="disabelBtns"
                mat-flat-button
                class="pdf-btn"
              >
                <mat-icon>description</mat-icon> GET RECORDS AS PDF
              </button>
            </div>
            <div class="col-md-4 btn-container">
              <button
                (click)="openDeleteGuestDialog()"
                [disabled]="disabelBtns"
                mat-flat-button
                color="warn"
                class="clear-btn"
              >
                <mat-icon>delete</mat-icon> CLEAR ALL RECORDS
              </button>
            </div>
          </div>
        </div>
        <app-records></app-records>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<ng-template #loadingContent>
  <div class="loading-container">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
