mat-card {
  line-height: 3;
  color: #6e6e6e;
  width: 1400px;

  .mat-card-title {
    flex-wrap: wrap;
    align-items: center;
    .title {
      width: 160px;
      min-width: 180px;
      font-size: 21px;
      font-weight: 400;
      margin-left: 1%;
      .subtitle {
        display: inline;
      }
    }
    .search-bar {
      .mat-form-field {
        position: relative;
        width: 100%;
        padding: 0;
        font-size: 21px;
        mat-label {
          display: flex;
          align-items: center;
        }
      }
    }
    .btn-container {
      display: flex;
      width: 260px;
      min-width: 180px;
      align-items: center;
      // justify-content: end;
      button {
        background-color: #31c2a0;
        color: white;
      }
    }
  }
}

.table-card {
  margin: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .filter-container {
    position: relative;
    font-size: 18px;
    color: #4a4a4a;
    margin: 24px 0px;
  }
  .filter-icon {
    position: absolute;
    right: 0;
  }
  table {
    width: 100%;
    th,
    td {
      padding: 0 24px;
      color: #4a4a4a;
      font-size: 15px;
    }

    .mat-column-select {
      width: 4%;
      input {
        width: 16px;
        height: 16px;
      }
    }
    .mat-column-name {
      width: 20%;
    }
    .mat-column-type {
      width: 15%;
    }
    .mat-column-roomNumber {
      width: 14%;
    }
    .mat-column-vouchers {
      width: 14%;
    }
    .mat-column-validUntill {
      width: 15%;
    }
    .mat-column-createdModified {
      width: 15%;
    }
    .mat-column-actions {
      width: 3%;
      text-align: center;
      .buttons-container {
        display: flex;
        .edit-btn {
          background-color: #31c2a0;
          color: white;
          margin-right: 16px;
        }
      }
    }
  }
}
.title-td {
  color: rgb(30, 85, 156);
  cursor: pointer;
}
.title-td:hover {
  color: rgb(0, 34, 107);
}
@media only screen and (min-width: 1200px) {
  .mat-card-title {
    justify-content: space-between;
  }
}
