mat-card {
  line-height: 3;
  color: #6e6e6e;
  width: 1400px;

  .mat-card-title {
    flex-wrap: wrap;
    align-items: center;
  }
}
.title {
  width: 160px;
  min-width: 180px;
  font-size: 21px;
  font-weight: 400;
  margin-left: 1%;
  .subtitle {
    display: inline;
  }
}
.search-bar {
  .mat-form-field {
    position: relative;
    width: 100%;
    padding: 0;
    font-size: 21px;
    mat-label {
      display: flex;
      align-items: center;
    }
  }
}
.btn-container {
  display: flex;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    background-color: #536dfe;
    color: white;
  }
  mat-icon {
    margin-right: 5px;
    margin-left: -5px;
  }
}
.table-card {
  margin: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .filter-container {
    position: relative;
    font-size: 18px;
    color: #4a4a4a;
    margin: 24px 0px;
  }
  .filter-icon {
    position: absolute;
    right: 0;
  }
  table {
    width: 100%;
    th,
    td {
      padding: 0 24px;
      color: #4a4a4a;
      font-size: 15px;
    }

    .mat-column-name {
      width: 27%;
    }
    .mat-column-type {
      width: 19%;
    }
    .mat-column-roomNumber {
      width: 16%;
    }
    .mat-column-vouchers {
      width: 16%;
    }
    .mat-column-validUntill {
      width: 16%;
    }
    .mat-column-actions {
      width: 5%;
      text-align: center;
      .buttons-container {
        display: flex;
        .edit-btn {
          background-color: #31c2a0;
          color: white;
          margin-right: 16px;
        }
      }
    }
  }
}
.title-td {
  color: rgb(30, 85, 156);
  cursor: pointer;
}
.title-td:hover {
  color: rgb(0, 34, 107);
}

.expansion-view-container {
  padding: 25px 15px 15px;
  line-height: 3;
  color: #6e6e6e;
}
.mat-expansion-panel {
  margin-top: 15px;
  .mat-panel-title {
    display: flex;
    align-items: center;
    .circle {
      transform: scale(0.5);
    }
    .vouchers-span {
      color: #6e6e6e;
      margin-left: 8px;
    }
  }
}
.expansion-btn-container {
  display: flex;
  justify-content: space-between;
  .guest-page-btn {
    background-color: #536dfe;
    color: white;
  }
}
.guest-info {
  div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    mat-icon {
      margin-right: 8px;
      transform: scale(0.8);
    }
  }
}
::ng-deep snack-bar-container.deleted-snackbar {
  min-width: 0 !important;
  background-color: #31c2a0;
  color: white;
}

::ng-deep snack-bar-container.not-deleted-snackbar {
  min-width: 0 !important;
  background-color: #f44336;
  color: white;
}

@media only screen and (min-width: 1200px) {
  .mat-card-title {
    justify-content: space-between;
  }
}
